.DS_Store

### Scala ###
*.class
*.log

# sbt specific
.testcontainers*
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/metals.sbt

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea/
out/
jenkins-pipeline/

## Redis ##
*.rdb

## Vim ##
*.swp
*.swo
*.tags

## Ensime##
.ensime
.ensime_cache/

TAGS

*.iml

.metals/
.bloop/
.projectile
.bsp/
metals.sbt

node_modules/

.vscode
