commands:
  01_install:
    command: "/tmp/install-rds-ssl-cert.sh"

files:
  "/tmp/install-rds-ssl-cert.sh":
      mode: "000755"
      content : |
        #!/bin/bash
        set -x

        RDS_ROOT_LOCAL_FILENAME="root.crt"
        RDS_ROOT_LOCAL_DIRECTORY="/usr/share/tomcat8/.postgresql"
        ROOT_RDS_CERT_URL="https://s3.amazonaws.com/rds-downloads/rds-ca-2019-root.pem"

        echo "Downloading ${ROOT_RDS_CERT_URL}..."
        mkdir -p $RDS_ROOT_LOCAL_DIRECTORY && curl $ROOT_RDS_CERT_URL > "$RDS_ROOT_LOCAL_DIRECTORY/$RDS_ROOT_LOCAL_FILENAME"
        if [ $? -ne 0 ]; then
                echo "ERROR: Could not download RDS root certificate!"
                exit 1
        fi
        echo "RDS root certificate installed successfully!"
